.venv/
.DS_Store
.env
benchmark_mapping.csv
benchmark_mapping_with_cirq.csv
.ipynb_checkpoints/
__pycache__/
.wandb_api_key
logs/
code/training/data/
code/training/wandb/
code/data_generation/out/
out/
linuzj/
!code/evaluation/out